export PLAYWRIGHT_BOOKING_BASEURL=https://www.booking.com
export PLAYWRIGHT_GEO_LOCATION_API_URL=https://geolocation.onetrust.com/cookieconsentpub/v1/geo/location
export PLAYWRIGHT_BOOKING_USERNAME=fill-me-in
export PLAYWRIGHT_BOOKING_PASSWORD=fill-me-in
export PLAYWRIGHT_ENV=1
